<!-- ng-cloak -->
<div id="dashboard">
  <h2 class="mt-3 dashboard-titles">Dashboard</h2>
  <!-- if groups.length == 0 && loaded -->
  <div>
    <h4 class="mt-5">You are not a member of any groups. Find a group through the <a href="./courses">courses</a> page.</h4>
  </div>

  <!-- if groups.length !== 0 && loaded -->
  <div class="panel panel-default border border-primary">
    <div class="panel-heading dashboard-titles">
      <h4 style="padding: .5em">My Projects</h4>
    </div>
    <div class="">
      <!-- repeat for group in groups ORDER BY group name -->
      <div class="card card-list">
        <div class="card-header bg-dark p-2"></div>
        <hr />
        <div class="card-body">
          <h4 class="card-title p-2">Group: TimeTrackerV2 Homies</h4>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Project Name: TimeTrackerV2</h5>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Course: CS 4450</h5>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Instructor: Bradley Peterson</h5>
        </div>
      </div>

      <div class="card card-list">
        <div class="card-header bg-dark p-2"></div>
        <hr />
        <div class="card-body">
          <h4 class="card-title p-2">Group: TimeTrackerV2 Homies</h4>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Project Name: TimeTrackerV2</h5>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Course: CS 4450</h5>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Instructor: Bradley Peterson</h5>
        </div>
      </div>

      <div class="card card-list">
        <div class="card-header bg-dark p-2"></div>
        <hr />
        <div class="card-body">
          <h4 class="card-title p-2">Group: TimeTrackerV2 Homies</h4>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Project Name: TimeTrackerV2</h5>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Course: CS 4450</h5>
          <h5 class="card-subtitle mb-2 p-2 text-muted">Instructor: Bradley Peterson</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- if parent.user.type == Instructor AND loadInactivePanel AND loaded -->
  <div class="panel panel-default border border-primary" style="margin-top:1em">
    <div class="panel-heading dashboard-titles">
      <h4 style="padding: .5em">Course join requests</h4>
    </div>

    <div class="card card-list">
      <div class="card-header bg-dark p-2"></div>
      <hr />
      <div class="card-body">
        <h4 class="card-title p-2">Course Name: CS 4450</h4>
        <div class="row">
          <h5 class="card-subtitle col-sm-6 mb-2 p-2 text-muted">Student: Joe Smith</h5>
          <input class="col-sm-6" type="checkbox" title="Accept the user into the course." />
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card box-part">
            <div class="card-header group-name">
              <p>Course Name</p>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <!-- if (user.isActive OR parent.user.type == Admin OR parent.user.userID == instructorId) -->
                <!-- repeat for user in courseToInactiveUsers[courseID] ORDER BY first name -->
                <li class="list-group-item p-2">
                  First Name Last Name
                  <div class="pretty p-svg p-curve float-right">
                    <!-- ng-change="saveUserInCourse(c.courseID, u.userID, u.isActive) -->
                    <input type="checkbox" title="Accept the user into the course." />
                    <div class="state p-primary">
                      <svg class="svg svg-icon" viewBox="0 0 20 20">
                        <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                      </svg>
                      <label></label>
                    </div>
                  </div>
                  <!-- ng-click="deleteUserFromCourse(u.userID)"-->
                  <i class="fa fa-times clickable delete-user-button" title="Delete user from the course."></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
