<ul>
  <li><a routerLink="./admin-evals">Admin Evals</a></li>
  <li><a routerLink="./assign-evals">Assign Evals</a></li>
  <li><a routerLink="./course">Course</a></li>
  <li><a routerLink="./courses">Courses</a></li>
  <li><a routerLink="./dashboard">Dashboard</a></li>
  <li><a routerLink="./eval">Eval</a></li>
  <li><a routerLink="./group">Group</a></li>
  <li><a routerLink="./login">Login</a></li>
  <li><a routerLink="./manage-evals">Manage Evals</a></li>
  <li><a routerLink="./project">Project</a></li>
  <li><a routerLink="./register">Register</a></li>
  <li><a routerLink="./user">User</a></li>
  <li><a routerLink="./users">Users</a></li>
  <li><a routerLink="./view-eval">View Eval</a></li>
  <li><a routerLink="./view-evals">View Evals</a></li>
</ul>

<router-outlet></router-outlet>
